<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ezra Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="page-wrapper">
        <ul id="nav-bar">
            <li class="dropdown">
                <div class="justify-end d-flex">
                    <a class="dropbtn">Dropdown</a>
                </div>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
        </ul>
    <div class="container grow">
        <div class="row">
            <div class="column shrink" style="background-color: deeppink">
                <div class="img-wrapper">
                    <img src="/images/headshot.jpg" style="height: 20em" alt="professional photo">
                </div>
            </div>
            <div class="column" style="background-color: deepskyblue">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus eius id, minima perspiciatis
                    sapiente suscipit? A ad amet deleniti, eius esse labore, laudantium nulla odit qui, sunt ullam
                    voluptates.</p>
            </div>
        </div>
        <div id="carousel" class="row">
            <div class="slide" style="background-image: url('https://picsum.photos/200/300');">
                <h2>Slide 1</h2>
            </div>
            <div class="slide" style="background-image: url('https://picsum.photos/200/300');">
                <h2>Slide 2</h2>
            </div>
            <div class="slide" style="background-image: url('https://picsum.photos/200/300');">
                <h2>Slide 3</h2>
            </div>
            <div class="slide" style="background-image: url('https://picsum.photos/200/300');">
                <h2>Slide 4</h2>
            </div>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>